<!-- ✅ Cartes : responsive -->
<div class="grid grid-cols-1  sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-10 w-full">
  <ng-container *ngIf="dataLoaded; else skeletonCards">
    <app-card-dashbord
      class="w-full"
      [titre]="retraite"
      [nombre]="retraite_nb">
    </app-card-dashbord>

    <app-card-dashbord
      class="w-full"
      [titre]="reversion"
      [nombre]="reversion_nb">
    </app-card-dashbord>

    <app-card-dashbord
      class="w-full"
      [titre]="pto"
      [nombre]="pto_nb">
    </app-card-dashbord>

    <app-card-dashbord
      class="w-full"
      [titre]="pi"
      [nombre]="pi_nb">
    </app-card-dashbord>
  </ng-container>
</div>

<ng-template #skeletonCards>
  
    <div class="animate-pulse bg-gray-200 h-28 rounded w-full"></div>
    <div class="animate-pulse bg-gray-200 h-28 rounded w-full"></div>
    <div class="animate-pulse bg-gray-200 h-28 rounded w-full"></div>
    <div class="animate-pulse bg-gray-200 h-28 rounded w-full"></div>

</ng-template>


<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="shadow-lg p-4 bg-white rounded">
    <ng-container *ngIf="dataLoaded; else skeleton">
      <app-graphe-1 [series]="chartSeries" [labels]="chartLabels"></app-graphe-1>
    </ng-container>
  </div>

  <div class="shadow-lg p-4 bg-white rounded">
    <ng-container *ngIf="dataLoaded; else skeleton">
      <app-graphe-2 ></app-graphe-2>
    </ng-container>
  </div>
</div>

<ng-template #skeleton>
  <!-- Skeleton simple, tu peux personnaliser avec Tailwind -->
  <div class="animate-pulse bg-gray-200 h-64 rounded"></div>
</ng-template>